/* Main Colors
* light blue rgb(173, 216, 230)
* mid blue rgb(0, 0, 255)
* dark blue rgb(0, 0, 139)
*/

* {
  /* Reset the browser default */
  margin: 0;
  padding: 0;
  /* box model */
  box-sizing: border-box;
}

body {
  /* fonts styles */
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 16px;
  color: #777;

  padding: 30px;
}

/*
*   Header styles
*/
.header {
  height: 92vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(173, 216, 230, 0.8),
      rgb(0, 0, 139, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

  /* new stuff */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
