*,
*::after,
*::before {
  /* Reset the browser default */
  margin: 0;
  padding: 0;
  /* box model */
  box-sizing: inherit;
}
html {
  /* the root rem  */
  font-size: 62.5%;
  /* = 10px */
}

body {
  box-sizing: border-box;
}